header {
    height: 150px;
    width: 100vw;
    background-color: rgba(21, 28, 42, 0);
    transition: all 1s ease;
    /* color: #E5B96B; */
    color: #F3E1C2;
    position: absolute;
    z-index: 20;
    display: flex;
    align-items: center;
}

header.sticky {
    position: fixed;
    height: 100px;
    background-color: rgba(21, 28, 42, 1);
}

header .content {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    position: relative;
}

header nav {
    display: none;
}

header nav ul {
    margin: 0; 
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav ul li {
    cursor: pointer;
    min-width: 250px;
}

.logo {
    width: 140px;
    object-fit: cover;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -70px;
}

.logo.small {
    width: 100px;
    margin-top: -50px;
}

.hamburger-icon {
    width: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    top: 50%;
    right: 2rem;
}

.hamburger-icon div {
    background-color: #F3E1C2;
    width: 100%;
    height: 2.5px;
    border-radius: 12px;
}

@media (min-width: 1111px) {
    header {
        height: 200px;
    }

    header.sticky {
        height: 120px;
    }

    header nav {
        display: block;
    }

    .hamburger-icon {
        display: none;
    }

    .logo {
        width: 300px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        margin-top: -140px;
    }

    .logo.small {
        width: 175px;
        margin-top: -75px;
    }
}