header {
    height: 150px;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    max-width: 1400px;
}

.logo {
    width: 200px;
    margin-top: -20px;
    margin-left: -20px;
}

@media (max-width: 1111px) {
    .logo {
        width: 160px;
    }
}