.hero {
    width: 100vw;
    z-index: -1;
    object-fit: cover;
    background-color: rgba(243, 225, 194, 0.2);
}

main {
    padding: 0 1.15rem;
    margin: auto;
    max-width: 1111px;
    position: relative;
}

/*
******************************************
        INTRO SECTION 
******************************************
*/

.intro {
    padding: 40px 1.15rem 60px 1.15rem;
    margin-bottom: 2rem;
    position: relative;
}

.intro h1 {
    margin-bottom: 0;
    text-align: start;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}


.intro h1 span {
    display: inline-block;
}

.intro p {
    opacity: 0.7;
    letter-spacing: normal;
    margin: 1.5rem auto 3rem 0;
    line-height: 24px;
    max-width: 90%;
}

.intro a {
    color: black;
    text-decoration: none;
    border-bottom: 0.5px solid black;
    transition: all 0.2s ease;
    max-width: 145px;
    text-align: center;
}

.intro a:hover {
    font-weight: 600;
}

/*
******************************************
        FEATURED COCKTAILS SECTION 
******************************************
*/

.featured-cocktails .cocktails {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
    align-items: center;
    position: relative;
    min-height: 2500px;
    padding-top: 120px;
}

.featured-cocktails .cocktail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    text-decoration: none;
}

.featured-cocktails .cocktail img {
    cursor: pointer;
    min-height: 350px;
    width: 100%;
    object-fit: cover;
    z-index: 10;
    transition: all 2s ease;
}

.featured-cocktails h2 {
    position: absolute;
    font-size: 1.8rem;
    color: var(--dark-green);
    text-align: center;
    margin: auto;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 50px;
    line-height: 50px;
}


.cocktail-name {
    text-transform: uppercase;
    color: var(--dark-green);
    font-size: 24px;
    width: 300px;
    margin-top: 0.5rem;
    z-index: 10;
}

.fruit {
    display: none;
}

/*
******************************************
        FEATURED ALCOHOL SECTION 
******************************************
*/
/* 
.featured-alcohols {
    display: flex;
    gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden; 
    -ms-overflow-y: hidden;
    height: 500px;
    align-items: flex-end;
    padding-bottom: 2rem;
}

.featured-alcohols div {
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.featured-alcohols div:hover {
    transform: scale(1.1);
}

.featured-alcohols svg {
    fill: rgba(243, 225, 194, 0.4);
}

.featured-alcohols img {
    transform: rotate(25deg);
    position: absolute;
    top: -50px;
} */

@media (min-width: 768px) {
    .hero img {
        height: 600px;
    }
}

@media (min-width: 1111px) {
    .hero {
        display: flex;
        margin-bottom: 160px;
    }
    .intro h1 {
        font-size: 2.1rem;
        font-weight: 600;
        letter-spacing: normal;
    }

    .hero img {
        width: 48%;
        height: 100vh;
    }

    /* .hero img {
        display: none;
    } */
/* 
    .featured-alcohols img {
        width: 150px;
        height: 150px;
    } */
/* 
    .featured-alcohols img {
        top: -75px;
    } */

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
        width: 52%;
    }

    .intro div {
        padding: 3.25rem;
    }

    /*
    ******************************************
            COCKTAILS 
    ******************************************
    */
    .featured-cocktails {
        padding-top: 120px;
    }

    .featured-cocktails h2 {    
        top: 40%;
        left: 45%;
        font-size: 3rem;
        transform: translateX(0);
        -webkit-transform: translateX(0%);
        text-align: center;
        margin-top: none;
    }


    .featured-cocktails h2 span {
        font-family: 'Permanent Marker', cursive;
        color: #157a0c;
        font-size: 4rem;
    }

    .featured-cocktails .cocktail {
        position: absolute;
    }

    .featured-cocktails .cocktail img {
        height: 300px;
        width: 350px;
    }

    .featured-cocktails .cocktail:first-child {
        left: 0;
        top: 0;
    }
    
    .featured-cocktails .cocktail:first-child .cocktail-name {
        left: -30px;
        bottom: -50px;
    }
    
    .featured-cocktails .cocktail:nth-child(2) {
        right: 0;
        top: 300px;
    }
    
    .featured-cocktails .cocktail:nth-child(2) .cocktail-name {
        left: 80px;
        bottom: -50px;
    }
    
    .featured-cocktails .cocktail:nth-child(3) {
        left: 0%;
        top: 650px;
    }
    
    .featured-cocktails .cocktail:nth-child(3) .cocktail-name {
        left: -30px;
        bottom: -50px;
    }
    
    .featured-cocktails .cocktail:nth-child(4) {
        left: 35%;
        top: 1300px;
    }
    
    .featured-cocktails .cocktail:nth-child(4) .cocktail-name {
        left: -30px;
        bottom: -50px;
    }
    
    .featured-cocktails .cocktail:nth-child(5) {
        left: 0;
        top: 1800px;
    }
    
    .featured-cocktails .cocktail:nth-child(5) .cocktail-name {
        left: -30px;
        bottom: -50px;
    }
    
    .featured-cocktails .cocktail:nth-child(6) {
        right: 0;
        top: 2000px;
    }
    
    .featured-cocktails .cocktail:nth-child(6) .cocktail-name {
        left: 100px;
        bottom: -50px;
    }
    
    .featured-cocktails .cocktail img.visible {
        transform: translateY(100px);
        transition: all 2s ease;
    }

    .cocktail-name {
        position: absolute;
        background-color: var(--light);
        text-align: center;
        font-weight: bold;
        padding: 0.5rem 1rem;
    }

    /*
    ******************************************
            FRUITS 
    ******************************************
    */
    .fruit {
        position: absolute;
        display: block;
    }
    
    .fruit:nth-child(1) {
        top: 5%;
        right: 0;
    }
    
    .fruit:nth-child(2) {
        top: 35%;
        left: 60%;
    }
    
    .fruit:nth-child(3) {
        top: 50%;
        left: 20%;
    }
    
    .fruit:nth-child(4) {
        top: 70%;
        right: 0%;
    }
    
    .fruit:nth-child(5) {
        bottom: 5%;
        left: 30%;
    }

    .featured-cocktails h2 {
        display: block;
    }
}